<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="rewrite" path="*" verb="*" modules="RewriteModule" resourceType="Unspecified" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="naked" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" negate="true" pattern="^www\.(.*)$" />
                    </conditions>
                    <action type="Redirect" url="http://www.{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>